<%= render :partial => "mahjong/header" %>


<div id="record_whole">
	<table>
		<tr>
			<td>순위</td>
			<td>이름</td>
			<td>총 점수</td>
			<td>평균 점수</td>
			<td>1위 률</td>
			<td>2위 률</td>
			<td>3위 률</td>
			<td>4위 률</td>
			<td>1,2위 률</td>
			<td>게임 수</td>
		</tr>
		
		<% @data.each do |d| %>
			<% if d["amountGame"] != 0 %>
				<tr>
					<td>1</td>
					<td><%= d["user"] %></td>
					<td><%= d["score"] %></td>
					<td><%= (d["score"]/d["amountGame"]).round(2) %></td>
					<td><%= (d["first"].to_f/d["amountGame"]).round(2) %></td>
					<td><%= (d["second"].to_f/d["amountGame"]).round(2) %></td>
					<td><%= (d["third"].to_f/d["amountGame"]).round(2) %></td>
					<td><%= (d["fourth"].to_f/d["amountGame"]).round(2) %></td>
					<td><%= ((d["first"]+ d["second"]).to_f/d["amountGame"]).round(2) %></td>
					<td><%= d["amountGame"] %></td>
				</tr>
			<% end %>
		<% end %>
		
		
	</table>
</div>
